.shopHeader {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.shoppingCart {
    align-self: center;
    font-size: 1.3rem;
    padding-right: 1rem;
}

.cartIcon {
    font-size: 2.2rem;
    color: cadetblue;
    margin-right: 10px;
}

.items {
    font-size: 1.2rem;
    padding-left: 0.5rem;
    color: black;
}
