.bookListItem {
    display: flex;
    margin: 15px 0;
}

.bookCover {
    flex-shrink: 0;
    width: 140px;
    margin-right: 30px;
}

.bookCover img {
    max-width: 100%;
}

.addToCart {

}

.bookDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
}

.bookTitle {
    font-size: 1.2rem;
}

.bookPrice {
    font-size: 1.4rem;
}
